.nomination-list {
	background-color: var(--shopify-green);
	color: var(--text-white);
	display: grid;
	justify-items: center;
	padding: 2rem 0;
	/* min-height: 50vh; */
	text-align: center;
}

.nominations-h2 {
	margin-bottom: 1.5rem;
	font-size: 1.75em;
}
.nominations-h3 {
	font-weight: 400;
	font-size: 1em;
}

.nominations-content {
	padding-bottom: 1rem;
}
