.nomination-list {
	background-color: var(--shopify-green);
	color: var(--text-white);
	display: grid;
	justify-items: center;
}

.nomination-list > h1 {
	margin-bottom: 0;
	color: var(--shopify-green);
}

.nomination-list > ul {
	padding: 1rem;
}

.nomination-list > ul > li {
	list-style: none;
	border: 1px solid var(--text-white);
	padding: 1rem;
	margin: 0.5rem;
}
