.footer {
	text-align: right;
	padding: 0.5em 4em;
	font-size: 0.75em;
	color: var(--text-black);
}

.footerLink {
	color: var(--button-green);
	text-decoration: none;
}

.footerLink:visited {
	color: var(--shopify-green);
}
