.appHeader {
	padding: 0.5rem;
}

.mainHeader {
	margin-left: 4rem;
	font-size: 1.5em;
	color: var(--text-black);
}

@media only screen and (max-width: 480px) {
	.mainHeader {
		text-align: center;
		margin-left: 0;
	}
}
