.movieList {
	display: grid;
	place-items: center;
	padding: 1rem;
	text-align: center;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem;
	margin-top: 0;
}

.resultsHeading {
	font-weight: 400;
	color: var(--text-black);
}

@media only screen and (max-width: 480px) {
	.movieList {
		padding: 0.5rem;
	}

	.content {
		padding: 0.5rem;
	}

	.resultsHeading {
		font-size: 1.25em;
	}
}
