.movie-list {
	display: grid;
	place-items: center;
	padding: 1rem;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem;
	margin-top: 0;
}

.results-heading {
	font-weight: 400;
	color: var(--text-black);
}
