.search {
	max-width: 100%;
	padding: 2rem;
	padding-top: 0;
	display: grid;
	place-items: center;
}

.search-heading {
	margin-bottom: 2rem;
	font-size: 2em;
	font-weight: 700;
	color: var(--shopify-green);
}

.search-input {
	color: var(--text-black);
	font-size: 1em;
	text-align: start;
	width: 30rem;
	min-width: 15.625rem;
	height: 3.2em;
	padding: 2rem;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	box-shadow: 0 0 0 1px #6b7177;
	cursor: text;
}

.search-input:focus {
	outline: none !important;
	border: 1px solid var(--shopify-green);
}
