.nominationList {
	background-color: var(--shopify-green);
	color: var(--text-white);
	display: grid;
	justify-content: center;
	padding: 2rem 0;
	text-align: center;
	width: 100%;
}

.nominationsH2 {
	margin-bottom: 1.5rem;
	font-size: 1.75em;
}
.nominationsH3 {
	font-weight: 400;
	font-size: 1em;
}

.nominationsContent {
	padding-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
	.nominationList {
		place-items: center;
	}

	.nominationsContent {
		padding: 0.5rem;
	}
}
