.noResults {
	text-align: center;
	padding-bottom: 2rem;
	font-weight: 400;
	color: var(--text-black);
}

@media only screen and (max-width: 480px) {
	.appController {
		display: grid;
		place-items: center;
	}

	.noResults {
		font-size: 1.25em;
	}
}
