.card {
	width: 35rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.25rem;
	padding: 1rem;
	margin: 0.5rem;
	list-style: none;
}

.cardContent {
	font-size: 1em;
	font-weight: 400;
}

.movieItem {
	composes: card;
	border: 1px solid var(--shopify-green);
}

.nominationItem {
	composes: card;
	border: 1px solid var(--text-white);
}

@media only screen and (max-width: 480px) {
	.card {
		max-width: 20rem;
		flex-direction: column;
		justify-content: center;
	}
}
